// 모바일 환경에서 구동 시 실제 개발 환경에 맞게 수정 필요
// 1. PC가 모바일과 동일한 네트워크에 연결되어 있는지 확인
// 2. PC의 IP 주소 확인 (Windows: 명령 프롬프트에서 `ipconfig` 입력)
EXPO_PUBLIC_API_BASE_URL_DEVICE=http://172.16.xxx.xxx:8080 

// 웹 환경에서 구동 시
EXPO_PUBLIC_API_BASE_URL_WEB=http://localhost:8080
